{% extends 'core/base.html' %}

{% block title %}
    Lista de Cursos
{% endblock title %}

{% block content %}
    
<div class="container">
  <div class="row">
      <div class="col text-center">
          <h1>Listado de Cursos</h1>
      </div>
  </div>
  <div class="row justify-content-center">
      <div class="col-md-6">
          {% for curso in cursos %}
              <div class="card mb-3">
                  <div class="card-body">
                      <h3 class="card-title">{{ curso.nombre }}</h3>
                      <a href="{% url 'Clase:curso_detail' curso.id %}" class="btn btn-primary">Detalle</a>
                      <a href="{% url 'Clase:curso_delete' curso.id %}" class="btn btn-primary">Eliminar</a>
                  </div>
              </div>
          {% endfor %}
      </div>
  </div>
</div>

      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form action="{% url 'Clase:curso_list' %}" method="get">
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="busqueda" placeholder="Buscar...">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit">Buscar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
{% endblock content %}