{% extends 'core/base.html' %}

{% block title %}
    Lista de estudiantes
{% endblock title %}

{% block content %}


<h1>Listado de estudiantes</h1>
{% for estudiante in estudiantes  %}
<ul>
    <li><h3>{{estudiante.nombre}} {{estudiante.apellido}}</h3></li>
    {% if estudiante.nacimiento %}
    <p>Nacimiento: {{estudiante.nacimiento}}</p>    
    {% else %}
    <p>Nacimiento: "No hay registro"</p>
    {% endif %}
</ul>
{% endfor %}
<ul>
    <form action="{% url 'Clase:estudiante_list' %}" method="get">
        <input type="text" name="busqueda" placeholder="Buscar...">
    </form>
</ul>
{% endblock content %}
