{% extends 'core/base.html' %}
{% block title %}
    Profesores
{% endblock title %}

{% block content %}
    
<h1>Profesores</h1>
<div>
    <ul style="list-style-type: none; padding: 0;">
        <li style="display: inline; margin-right: 10px;">
            <a href="{% url 'Clase:profesor_list' %}">Lista de Profesores</a>
        </li>
        <li style="display: inline;">
            <a href="{% url 'Clase:profesor_create' %}">Crear Profesor</a>
        </li>
    </ul>
</div>

{% endblock content %}