{% extends 'core/base.html' %}
{% block title %}
    Cursos
{% endblock title %}

{% block content %}
<center>
    <h1>Cursos</h1>
</center> 
<center>
<div>
    <ul style="list-style-type: none; padding: 0;">
        <li style="display: inline; margin-right: 10px;">
            <a href="{% url 'Clase:curso_list' %}" style="text-decoration: none; color: #007bff; font-family: Arial, sans-serif; font-weight: bold;">Lista de Cursos</a>
        </li>
        <li style="display: inline;">
            <a href="{% url 'Clase:curso_create' %}" style="text-decoration: none; color: #007bff; font-family: Arial, sans-serif; font-weight: bold;">Crear Curso</a>
        </li>
    </ul>
</div>
</center>
{% endblock content %}