{% extends 'core/base.html' %}

{% block title %}
    Profesor | Creacion
{% endblock title %}
  {% if form.instance.pk %}
    Profesor |  - Edicion
  {% else %}
    Profesor |  - Creacion  
  {% endif %}
{% block content %}
    <center>
    <h1>Creacion de Profesor</h1>
    </center>
    <center>
        <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-6">
                <form class="p-3 border rounded-lg bg-light" action="" method="post">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button class="btn btn-primary mt-3" type="submit">Guardar</button>
                </form>
              </div>
            </div>
          </div>
          
    </center>
{% endblock content %}