{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    CoderCasa
{% endblock title %}
{% block content %}
<!-- Responsive navbar-->

<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" 
            src="{% static 'core/img/imagen.png' %}" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">CoderCasa</h1>
            <p>¡Bienvenido a nuestra plataforma de aprendizaje en línea! Somos una empresa dedicada a ofrecerte la oportunidad de ampliar tus habilidades en programación desde la comodidad de tu hogar. Nuestros cursos están diseñados para cubrir una amplia gama de temas, desde los fundamentos de la programación hasta tecnologías avanzadas y tendencias emergentes en el mundo del desarrollo de software. Con instructores expertos y contenido de calidad, te proporcionamos las herramientas necesarias para que puedas avanzar en tu carrera profesional o explorar tu pasión por la programación. </p>
            
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">Tambien apoyamos a nuestos amigos de CoderHouse, aqui abajo algunos cursos...</p></div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Curso Python</h2>
                    <p class="card-text">En este curso, aprenderás las bases de programación en uno de los lenguajes más populares en la actualidad. Desde los fundamentos hasta la creación de aplicaciones web estilo blog usando Python en el Django Framework, cubrirás módulos, sintaxis y reglas, incluyendo Class-Based-View, login-register-accounts, CRUD y modelforms.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.coderhouse.com/ar/online/python" target="_blank">Mas info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Curso SAP</h2>
                    <p class="card-text">Este curso enseña los conceptos básicos de navegación y usabilidad en SAP, incluyendo finanzas, control de gestión, manejo de materiales, recursos humanos y ventas. Su objetivo es proporcionar una comprensión clara de los procesos empresariales y la estructura organizativa en la plataforma.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.coderhouse.com/ar/online/sap" target="_blank">Mas info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Curso SQL</h2>
                    <p class="card-text">
                        En este curso, aprenderás fundamentos de bases de datos relacionales y cómo crearlas desde cero. Dominarás consultas SQL avanzadas para generar informes y tomar decisiones. Estarás listo para analizar datos en cualquier modelo de negocio.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.coderhouse.com/ar/online/sql" target="_blank">Mas info</a></div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}